

<div>


<div id="title"> Voices of Singapore </div>


<%= form_for :voice do |f| %>

<div id="innerDiv">
    <p>
        <%= f.text_area :text, :id => "textbox" , :maxlength => 90 %>
    </p>
    <div id="error"> <%= @voice.errors.full_messages.first if @voice.errors.any?  %> </div>
    <p>
        <%= f.submit "Say it!" , :class => "alizarin-flat-button" %>
    </p>
<% end %>
    </div>

    <%= image_tag "iphoneSmall.png" %>
</div>

<style>

    /* #Alizarin Flat Button
==================================================*/
    .alizarin-flat-button {
        font-family:"avenir next";
        position: relative;
        vertical-align: top;
        top: 230px;
        left: 50px;
        width: 100px;
        height: 60px;
        padding: 0;
        font-size: 22px;
        color: white;
        text-align: center;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
        background: #e74c3c;
        border: 0;
        border-radius:10px;
        border-bottom: 2px solid #db4334;
        cursor: pointer;
        -webkit-box-shadow: inset 0 -2px #db4334;
        box-shadow: inset 0 -2px #db4334;
    }
    .alizarin-flat-button:active {
        top: 231px;
        left: 50px;

        outline: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }
</style>