// Place all the styles related to the voices controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#title{
  font-family:"avenir next";
  font-weight:510;
  font-size:23px;
  position:absolute;
  top:110px;
  left:49px;

}

#innerDiv{

  position:absolute;
  left:52px;
  top:180px;
}

#textbox{
  position:absolute;

  resize:none;
  border:2px solid #456879;
  border-radius:10px;
  height: 200px;
  width: 200px;
  font-family:"avenir next";
  font-weight:500;
  font-size:23px;
}

#error{
  position:absolute;
  color:red;
  left:10px;
  top:210px;
  height:100 px;
  font-size:10px;
  font-family: "avenir next";
  white-space: nowrap;
}

/* Apple watch*/



#applewatchhappy {
  position: absolute;
  background:url("smile.png") no-repeat;
  width:84px;
  height:84px;
  border: 0px;
  top:189px;
  left:240px;
}

#applewatchsad{
  position: absolute;
  background:url("sad.png") no-repeat;
  width:84px;
  height:84px;
  border: 0px;
  top:189px;
  left:337px;
}

#applewatchrelax {
  position: absolute;
  background:url("relax.png") no-repeat;
  width:84px;
  height:84px;
  border: 0px;
  top:286px;
  left:240px;
}

#applewatchangry {
  position: absolute;
  background:url('angry.png ') no-repeat;
  width:84px;
  height:84px;
  border: 0px;
  top:286px;
  left:337px;
}

#applewatchhappy:active {
  position: absolute;
  background:url("smile.png") no-repeat;

  width:84px;
  height:84px;
  border: 0px;
  top:19px;
  left:242px;
}

#applewatchsad:active{
  position: absolute;
  background:url("sad.png") no-repeat;
  width:84px;
  height:84px;
  border: 0px;
  top:191px;
  left:339px;
}

#applewatchrelax:active {
  position: absolute;
  background:url("relax.png") no-repeat;
  width:84px;
  height:84px;
  border: 0px;
  top:288px;
  left:242px;
}

#applewatchangry:active {
  position: absolute;
  background: url("angry.png") no-repeat;
  width: 84px;
  height: 84px;
  border: 0px;
  top: 288px;
  left: 339px;
}

/* #Alizarin Flat Button
==================================================*/
.alizarin-flat-button {
  font-family:"avenir next";
  position: relative;
  vertical-align: top;
  top: 230px;
  left: 50px;
  width: 100px;
  height: 60px;
  padding: 0;
  font-size: 22px;
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.25);
  background: #e74c3c;
  border: 0;
  border-radius:10px;
  border-bottom: 2px solid #db4334;
  cursor: pointer;
  -webkit-box-shadow: inset 0 -2px #db4334;
  box-shadow: inset 0 -2px #db4334;
}
.alizarin-flat-button:active {
  top: 231px;
  left: 50px;

  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}